.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    }

  &:first-child{
    margin-top: 1rem;
  }
    
  &:last-child {
    border:0;
    border-bottom: 30px;
  }
  

  &-time {
    color: rgb(90, 90, 90);
    font-family: $palatino;
    letter-spacing: .5px;
    font-size: .7rem;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-font;
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}
