.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    }

  &:first-child{
    margin-top: 1rem;
  }
    
  &:last-child {
    border:0;
    border-bottom: 30px;
  }
  
  &-wrapper{
    margin-bottom: 1rem;margin-top: 10px;
  }

  &-link{
    text-decoration: none; 
    color:rgb(45, 45, 45);
  }

  &-time {
    padding-left: 3px; 
    color: rgb(120, 120, 120);
    font-family: $palatino;
    letter-spacing: .5px;
    font-size: .9rem;
  }

  &-title {
    padding:0; margin: 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}
